# ------DATABASE-------
MYSQL_ROOT_PASSWORD=placeholder
MYSQL_DATABASE=placeholder
MYSQL_USER=placeholder
MYSQL_PASSWORD=placeholder
DB_HOST=placeholder
DB_PORT=0000

#--------BACKEND----------
BACKEND_PORT=0000

#-------FRONTEND--------
FRONTEND_PORT=0000