# ------DATABASE-------
MYSQL_ROOT_PASSWORD=            #type your root password here
MYSQL_DATABASE=budgeting
MYSQL_USER=budgeting_user
MYSQL_PASSWORD=                 #type your user password here
DB_HOST=db
DB_PORT=3306

#--------BACKEND----------
BACKEND_PORT=8000

#-------FRONTEND--------
FRONTEND_PORT=5173