.dashboardDiv{
    min-height: 100vh;
}

.header{
    padding: 15px;
}

.header h1 {
  margin: 0;
}

.navList{
    padding: 15px;
}

.navLink {
    background-color: rgba(255, 0, 0, 0.9);
    font-size: 23px;
    margin: 10px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
}

.active{
    animation: pulse 6s infinite;
}

@keyframes pulse {
    0%, 100% { background-color: rgb(116, 16, 24); }
    33% { background-color: rgb(1, 77, 131); }
    66% { background-color: rgb(1, 15, 25); }
}