.dashboardDiv{
    background-color: rgba(55, 55, 55, 0.8);
    min-height: 100vh;
}

.header{
    padding: 15px;
}

.header h1 {
  margin: 0;
}

.navList{
    padding: 15px;
}

.navLink {
    background-color: rgba(255, 0, 0, 0.9);
    font-size: 23px;
    margin: 10px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
}

.active{
    animation: pulse 10s infinite;
}

@keyframes pulse {
    0% { background-color: rgba(255, 0, 0, 0.9); }
    14% { background-color: rgba(255, 127, 0, 0.9); }
    28% { background-color: rgba(255, 255, 0, 0.9); }
    42% { background-color: rgba(0, 255, 0, 0.9); }
    57% { background-color: rgba(0, 0, 255, 0.9); }
    71% { background-color: rgba(55, 0, 182, 0.9); }
    85% { background-color: rgba(100, 0, 231, 0.9); }
}