body{
    background-image: linear-gradient(to bottom, #741018, #014d83, #010f19);
}

.pajonczek{
    height: 50px;
    position: absolute;
    pointer-events: none;
}

label{
    font-size: 35px;
    padding-right: 5px;
    color: #010f19;
}

input[type="text"]{
    margin-right: 30px;
    height: 35px;
}

div{
    align-items: center;
    margin: auto;
}

button{
    margin: 20px;
    background-color: #850607;
    padding: 5px;
    border-radius: 10px;
}
